.titulo
{
    margin-left: 36%;
    font-size: 30px;
}

a
{
    color: black;
}

.linha1
{
    display: flex;
    flex-direction: row;

   justify-content: space-around;
}

.linha2
{
    margin-top: 20px;

    display: flex;
    flex-direction: row;

    justify-content: space-around;

}

.anuncio1
{
    width: 310px;
    border-style: solid;
    border-color: black;
}

.anuncio2
{
    width: 390px;
    height: 440px;
    border-style: solid;
    border-color: black;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.anuncio3
{
    width: 490px;
    height: 440px;
    border-style: solid;
    border-color: black;
    margin-left: 10px;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.anuncio4
{
    width: 490px;
    height: 440px;
    border-style: solid;
    border-color: yellow;
    margin-left: 10px;
    color: white;
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    
}

.anuncio5
{
    width: 590px;
    height: 800px;
    border-style: solid;
    border-color: black;
    margin-left: 10px;
    color: black;
    background-image: linear-gradient(to bottom, rgb(247, 55, 55), rgb(65, 65, 236));

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    
}

.anuncio6
{
    width: 1000px;
    height: 580px;
    border-style: solid;
    border-color: black;
    margin-left: 10px;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    
}

.texto
{
    color: red;
}